<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>Try Bloch!</title>
        
        {% load static %}
        <script src="{{ STATIC_URL }}vector.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
        <script src="{{ STATIC_URL }}OrbitControls.js"></script>
        <script type="text/javascript" src="fonts/helvetiker_regular.typeface.js"></script>
        <script src="js/geometries/TextGeometry.js"></script>
        <script src="js/utils/FontUtils.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}apple-touch-icon-180x180.png">　

    </head>
    <body>

        <h3>Q ease:&emsp;</h3>
        <br><br>
        <h1>Try Bloch!</h1>
        <h2>Visualization of Single-Qubit Gates work with Bloch sphere</h2>
        
        <div align="center">
            <canvas id="myCanvas"></canvas></div>
        
        <div align="center"><span style="color:#29b0da;">x-</span>&emsp;<span style="color:#da2932;">y-</span>&emsp;<span style="color:#9ceb43;">z-</span></div>

        <div align="center" class="gatebox">
            <a class="x" id=x style="float:left; margin-left:20px; margin-top:10px;">X</a>
            <a class="y" id=y style="float:left; margin-left:40px; margin-top:10px;">Y</a>
            <a class="z" id=z style="float:left; margin-left:40px; margin-top:10px;">Z</a>
            <a class="h" id=h style="float:left; margin-left:40px; margin-top:10px;">H</a>
            <a class="s" id=s style="float:left; margin-left:40px; margin-top:10px;">S</a>
            <a class="s" id=st style="float:left; margin-left:35px; margin-top:10px;">S<sup><small>&dagger;</small></sup></a>
            <a class="t" id=t style="float:left; margin-left:40px; margin-top:10px;">T</a>
            <a class="t" id=tt style="float:left; margin-left:35px; margin-top:10px;">T<sup><small>&dagger;</small></sup></a>
            <a class="btn" id=start style="float:left; margin-left:35px; margin-top:6px;">RESTART</a></div>

            <div align = "center" style = "margin-top:10px;">
            <a class ="info" href = https://drive.google.com/file/d/1Qh8czv02dfFoITkBR9sTZ5VPaG0fmWnH/view?usp=sharing><h2>Tutorial Video</h2></a>
            <a class ="info" style = "margin-left:30px" href = "{% url 'index' %}"><h2>About Q ease:</h2></a>
            <a class ="info" style = "margin-left:30px" href = https://github.com/nisuikiba/Q-ease><h2>Source Code</h2></a></div>

    </body>
</html>
